@import url("https://themelio.org/iosevka-aile/iosevka-aile.css");
@import url("https://themelio.org/iosevka-sparkle/iosevka-sparkle.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  font-family: "Iosevka Aile Web";
  line-height: 1.5;
}

body {
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0;
  font-size: 90%;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fdf6e3;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }
}

.pane {
  border: 2px solid black;
  flex-grow: 1;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.codearea {
  width: 100%;
  resize: none;
  flex-grow: 1;
  box-sizing: border-box;
  font-family: "PT Mono", "Consolas", monospace;
  font-size: 100%;
}

.button-row button {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 105%;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.repl-prompt {
  display: flex;
  flex-direction: row;
}

.repl-row * {
  font-family: "PT Mono", "Consolas", "Iosevka Aile Web", monospace;
}

.repl-type {
  color: #d33682;
}

.repl-row {
  border: 1px solid gray;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 0.5rem;
}

.repl-result {
  word-wrap: break-word;
}

.repl-input {
  resize: none;
  flex-grow: 1;
  height: fit-content;
  display: inline;
  background: unset;
  border: unset;
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
}

.repl-input:active,
.repl-input:focus-visible {
  outline: 1px dotted black !important;
  /* outline: unset; */
}

.env-pane {
  border: 1px black solid;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.env-pane textarea {
  width: 100%;
  height: min(20rem, 20vh);
  box-sizing: border-box;
  resize: none;
  font-family: "PT Mono", "Consolas", monospace;
  font-size: 100%;
}
